.admin-page{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-page h1{
    margin-bottom: 20xp;
    font-size: 35px;
}
.admin-page button{
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #008080;
    width: 35%;
    color: #fff;
}
.admin-page button:hover{
    background-color: #013232;
}

@media (max-width: 768px) {
    body {
        font-size: 90%;
        padding: 10px;
    }
    .container {
        padding: 10px;
        flex-direction: column;
    }
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}
button, a {
    transition: all 0.3s ease;
}
button:hover, a:hover {
    transform: scale(1.05);
    background-color: #4A90E2;
}