.cart-page *{
    color:#444;
}

.cart-page{
    max-width: 800px;
    margin: 0 auto 10rem auto;
    padding: 20px;
}

.cart-page ul{
    list-style-type: none;
    padding: 0;
}

.cart-page li{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.cart-page img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.quantity-controls{
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-controls button{
    background-color: #008080;
    color:white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.quantity-controls button:hover{
    background-color: #003a3a;
}

.checkout-button{
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto ;
    width: 99%;
}

.checkout-button:hover{
    background-color: #003a3a;
}

.response-message{
    color: #008080;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        font-size: 90%;
        padding: 10px;
    }
    .container {
        padding: 10px;
        flex-direction: column;
    }
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}
button, a {
    transition: all 0.3s ease;
}
button:hover, a:hover {
    transform: scale(1.05);
    background-color: #4A90E2;
}